{{#each .}}
{{#if is-active}}
<li class="Isogrid-item js-item-selector{{#each craft}} craft-{{this}}{{/each}}{{#each category}} category-{{this}}{{/each}} letter-{{first_letter title}}">
  <div class="icon"><img class="img-responsive" src="{{folder}}/{{icon}}" alt=""></div>
  <div class="details">
    <strong title="{{title}}" class="Isogrid__title js-sort-title">{{title}}</strong>
    <time>{{baseline}}</time>
    <address>{{details.title}}</address>

    <figure>
      <p>big image !</p>
      <img src="{{folder}}/{{visuals.[0]}}" alt="{{title}}" style="max-height:200px">
    </figure>

    {{#if comment}}
      <q>{{comment}}</q>
    {{/if}}
  </div>
</li>
{{/if}}
{{/each}}
