
<div class="Isogrid__detail js-app-detail">
  <div class="scroll-wrap">
  <h2 class="Wrapper__title"><span>Solutions</span><span>Métiers</span><span>Mobilité</span></h2>
    <div class="Wrapper__article">
    {{#each .}}
      <article class="content__item">
        <div class="article-top">
          <div class="article-pictos">
            {{#if pictos.gcn}}
              <img src="images/gcn.png" width="35" height="8" class="pictopts" alt="GCN">
            {{/if}}
            {{#if pictos.smb}}
              <img src="images/smb.png" width="35" height="8" class="pictopts" alt="SMB">
            {{/if}}
          </div>
          <div class="article-left">
            <img src="{{folder}}/{{id}}_{{icon}}" class="article-icon" alt="">
          </div><!--
          --><div class="article-right">
            <h2 class="article-title">{{title}}</h2>
            <p class="article-desc">{{description}}</p>
            <a href="{{url}}" class="article-link">Télécharger l'application</a>
          </div>
        </div>
        <div class="article-carousel">
          <figure>
            <img src="{{folder}}/{{id}}_{{visuals.[0]}}" alt="{{title}}" style="max-height:200px">
          </figure>
        </div>
      </article>
    {{/each}}
    </div>
  </div>
  <button class="close-button"><img src="images/gfx/arrow_back.png" alt="<"><span>Retour</span></button>
</div>
