{{#each .}}
<li class="{{extra_class}}">
  <div class="icon"><img class="img-responsive" src="{{icon}}"></div>
  <div class="details">
    <strong title="{{title}}">{{title}}</strong>
    <time>{{baseline}}</time>
    <address>{{details.title}}</address>
    {{#if comment}}
      <q>{{comment}}</q>
    {{/if}}
  </div>
</li>
{{/each}}
