{{#each .}}
<li class="{{extra_class}}">
  <div class="icon"><img class="img-responsive" src="{{icon}}"></div>
  <div class="details">
    <strong title="{{name}}">{{name}}</strong>
    <time>{{stamp}}</time>
    <address>{{vicinity}}</address>
    <cite>{{userName}}</cite>
    {{#if comment}}
      <q>{{comment}}</q>
    {{/if}}
  </div>
</li>
{{/each}}
